
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero</title>
    <link rel="stylesheet" href="{% static 'css/buscaminas.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lora:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="principal-container">
        <h1>PROYECTO TABLERO GONZALO TRILLO</h1>
        <a class="enlace-create-table" href="{% url 'crear_tablero' %}">Crear tabla</a>
    </div>
</body>
</html>